

<div class="text-center">
    <strong class="mr-2 text-myfavcolor1">@Information</strong>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
   
    </div>
</div>
@code {

    [Parameter]
    public string Information { get; set; } = "Loading......";

  
}
