
<div class="btn-group" role="group">
    <button type="button" data-command="bold" class="btn btn-outline-primary btn-textformat"><i class="fas fa-bold"></i></button>
    <button type="button" data-command="italic" class="btn btn-outline-primary btn-textformat"><i class="fas fa-italic"></i></button>
    <button type="button" data-command="underline" class="btn btn-outline-primary btn-textformat"><i class="fas fa-underline"></i></button>
    <button type="button" data-command="insertOrderedList" class="btn btn-outline-primary btn-textformat"><i class="fas fa-list-ol"></i></button>
    <button type="button" data-command="insertUnorderedList" class="btn btn-outline-primary btn-textformat"><i class="fas fa-list-ul"></i></button>
</div>


